---
import Nav from '../components/Nav.astro';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <Nav></Nav>

    <h1 id="lengua1">Wich of these two its your mother tongue?</h1>
    <h1 id="lengua2">¿Cuál es tu lengua materna?</h1>

    <div class="columnas">
    <div class="column1-x">
<a href="/about-es" ><h2 style="font-size: xx-large;">Español</h2></a>
</div>
<div class="column2-x">
<a href="/about-en" ><h2 style="font-size: xx-large;">English</h2></a>
</div>

    </div>
 
</Layout>
