---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
---
<Layout title={"About-me"} lang="en">
  <Nav />
<main class="btme">
<article>
    <h1>So, who's this dude?</h1>
<p class="intro">Let me introduce myself—I'm Mario A.K.A Maba Rod A.K.A Mabita or, if you're feeling fancy, l'amour de la ta vita ;3</p>
<p class="about">Okay, real talk: professionally speaking, I'm a whole lot of nothing right now. I'm still studying—electronic engineering, to be precise.</p>
<h2 class="yqe">Alright cool, but... what's the blog about?</h2>
<p>Long story short, this blog is a little rambling reflection about myself. I talk a bit about me, my world, and what’s around me—from my random ideas to ranking the best coffee spots in my town.  
Truth is, I don’t know much about many things, but like a textbook case of the <a class="plink" href="https://en.wikipedia.org/wiki/Dunning–Kruger_effect">Dunning-Kruger effect</a>, I might not know the topic, but that won’t shut me up. I'm not a wise man or anything, I just talk about whatever I feel like.  
So please, don’t take my word as gospel—use your own judgment and take what resonates (as the horoscope girls on TikTok say right after your girlfriend dumped you—damn algorithm (and hey, if you caught that this is a recursive parenthesis, congrats, you're almost marriage material for us nerds))).</p>

<div class="columnas">
<div class="collum1">
<h1 style="margin-bottom: 0px;margin-top: 0px;">Things I Like</h1>
<ul>
<li>Coding</li> <ul>
<li>C</li>
<li>Python</li>
<li>Bash</li>
<li>JavaScript</li>
</ul>
<li>The arts</li>
<li>Linux</li>
<li>Free software</li>
<li>Coffee—lots of coffee</li>
<li>Clove flavored cigarettes</li>
</ul>
</div>

<div class="collum2">
<h1>Things I Don’t Like</h1>
<ul>
<li>Super snobby people</li>
<li>People with an attitude</li>
<li>Fascists</li>
<li>Cold coffee (not iced—**cold**)</li>
<li>Marlboro red cigarettes</li>
<li>Overly sweet stuff</li>
<li>Ubuntu server</li>
<li>Java</li>
</ul>
</div>
</div>
</article>

</main>
</Layout>
