---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import '../styles/global.css';

---
<Layout title="Contact" lang="en">
    <Nav></Nav>
    <main>
        <article>
            <h1>Contact</h1>
            <p>If you want to get in touch, feel free to reach out via email or social media.</p>
            <ul>
                <li><a class="plink" href="https://github.com/MabaRod">Github</a></li>
                <li><a class="plink" href="https://www.instagram.com/maba_rod/">Instagram</a></li>
                <li>Mariofake50@gmail.com ← Consider that its a burner/spam email so i would take time to read your email</li>
            </ul>
        </article>
    </main>
</Layout>