
<div class = "column2">
  <h1 style="margin-bottom: 0px;margin-top: 0px;">Contact</h1>
            <p>If you want to get in touch, feel free to reach out via email or social media.</p>
            <ul>
                <li><a href="https://github.com/MabaRod">Github</a></li>
                <li><a href="https://www.instagram.com/maba_rod/">Instagram</a></li>
                <li>Mariofake50@gmail.com ← Consider that its a burner/spam email so i would take time to read your email</li>
            </ul>
</div>
