    <nav>
    <div id="navtxt">
   <span></span>
    <a class ="plink"href="/"class="navtxt"><h1>Home</h1></a>
   <span class="whitespace"></span>
   <a class ="plink"href="/posts" class="navtxt"> <h1>Posts</h1></a>
   <span class="whitespace"></span>
    <a class ="plink"href="contact" class="navtxt"> <h1>Contact</h1></a>
   <span class ="plink"class="whitespace"></span>
   <a href="/about" class ="plink" class="navtxt"><h1>About-me</h1></a>
   <span class="whitespace"></span>
    </div>
    </nav>   
