---
import { getCollection, type CollectionEntry } from 'astro:content';

const posts = await getCollection('posts');
const sortedPosts = posts.sort(
  (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<div class="collum1">
<h1> Recent posts</h1>
<ul>
  {sortedPosts.map((post: CollectionEntry<'posts'>) => (
    <li>
      <a  href={`/posts/${post.slug}`}>{post.data.title}</a>
    </li>
  ))}
</ul>
</div>
